@charset "UTF-8";
/* body & 共有のCSS */

    body {
        width: 1200px;
    }

    .header .fixed-top {
        position: relative;
    }

/* mainのCSS */

    .main h2{
        font-size: 15px;
        margin-top: 35px;
        margin-bottom: 20px;
    }

    .product-list {
        list-style: none;
        padding-left: 0;
        display: flex;
        flex-wrap: wrap;
    }

    .product-list li {
        width: 23%;
        margin: 10px 10px 25px 10px;
    }

    .product-list li img {
        width: 100%;
        margin-bottom: 5px;
    }

    .product-list p {
        margin-bottom: 0;
        font-size: 13px;
    }

    .paginat {
        list-style: none;
        padding-left: 0;
        display: flex;
        justify-content: center;
        margin-bottom: 80px;
    }

    .paginat li {
        margin:0 15px;
        font-size: 15px;
    }

    .paginat a {
        text-decoration: none;
        color: black;
    }

    .footer {
        display: flex;
    }

    .footerList {
        list-style: none;
        padding-left: 0;
        display: flex;
    } 

    .footerList li {
        margin: 0 20px 0 0;
    }

    .footerList a {
        text-decoration: none;
        color: black;
        font-size: 13px;
    }

    .footer .copy{
        margin-left: auto;
        font-size: 12px;
    }

    /* レスポンシブ対応 */

    @media screen and (max-width: 480px) {
    }