@charset "UTF-8";
/* body & 共有のCSS */

    body{
        width: 1200px;
    }

    .a_center{
        text-align: center;
        font-size: small;
        font-weight: 10;
    }

    .a_center a{
        color: #000;
    }

/* ヘッダーのCSS */

    .header h1{
        font-size: 20px;
        font-weight: 100;
        margin-left: 40px;
    }

    .header ul{
        display: flex;
        list-style: none;
        background-color: black;
        color: beige;
        font-size: 13px;
        padding: 10px 20px 10px 120px;
        margin-top: 0;
        margin-right: calc(50% - 50vw);
        margin-left: calc(50% - 50vw);
    }

    .header ul li{
        margin:0 25px 0 30px;
    }

/* picupのCSS */

    .picup{
        display: flex;
        justify-content: center;
    }

    .picup article{
        width: 370px;
        margin: 10px 10px;
    }

    .picup img{
        width: 100%;
    }

    .picup h2{
        margin-top: 5px;
        font-size: small;
    }

/* containerのCSS */

    .container{
        display: flex;
    }

/* mainのCSS */

    .main{
        width: 800px;
        margin: 60px 10px;
    }
    
    .main article{
        margin-bottom: 60px;
    }

    .main article img{
        width: 100%;
    }
    
    .main article ul{
        list-style: none;
        display: flex;
        padding-left: 0;
    }

    .main article li{
        margin-right: 30px;
    }

    .main p{
        padding: 0 30px;
    }

/* asideのCSS */

    .aside{
        width: 300px;
        margin: 100px 50px;
        text-align: center;
    }

    .aside h3{
        margin: 30px;
    }

    .author{
        margin-bottom: 100px;
    }

    .author img{
        border-radius: 100%;
        width: 50%;
    }

    .author p{
        text-align: left;
    }

    .ranking{
        margin-bottom: 100px;
    }

    .ranking img{
        width: 100%;
    }

    .ranking h4{
        text-align: left;
        margin-top: 5px;
        font-weight: 100;
    }

    .archive ul{
        list-style: none;
        text-align: left;
    }

    .archive  .top{
        border-top: 1px solid #CCCCCC;
    }

    .archive ul li{
        padding: 15px 15px;
        font-size: 13px;
        border-bottom: 1px solid #CCCCCC;
        font-weight: 100;
    }

/* フッダーのCSS */

    .footer {
        background-color: #F5F5F5;
        margin-right: calc(50% - 50vw);
        margin-left: calc(50% - 50vw);
    }

    .footer .items{
        justify-content: center;
        display: flex;
    }

    .footer .item{
        width: 250px;
        margin: 30px 30px 70px 30px;
    }

    .footer .item p{
        font-size: 12px;
    }

    .footer .item ul{
        list-style: none;
        padding-left: 0;
    }

    .footer .item ul li{
        font-size: 12px;
    }

    .footer .menu .top{
        border-top: 1px solid #CCCCCC;
    }

    .footer .menu ul li{
        padding: 13px 5px;
        border-bottom: 1px solid #CCCCCC;
    }

    .footer .twitter img{
        width: 100%;
    }

    .footer .copy{
        text-align: center;
        padding-bottom: 10px;
    }

    /* レスポンシブ対応 */

    @media screen and (max-width: 480px) {

    /* ヘッダーのCSS */

        .header h1{
            font-size: 80px;
        }

        .header ul{
            padding-left: 0;
            margin-right: 0;
            margin-left: 0;
            justify-content: center;
        }

        .header ul li{
            font-size: 40px;
            padding: 25px 10px;
            margin: 0 40px;
        }

    /* picupのCSS */

        .picup{
            display: block;
            margin-top: 80px;
            justify-content: center;
        }

        .picup article{
            width: 90%;
            margin: 0 auto;
        }

        .picup article h2{
            font-size: 50px;
            font-weight: 100;
        }

        .picup article .a_center{
            font-size: 40px;
            margin-bottom: 100px;
        }

    /* containerのCSS */

        .container{
            display: block;
        }

    /* mainのCSS */

        .main{
            width: 90%;
            margin: 200px auto;
        }

        .main article{
            margin-bottom: 250px;
        }

        .main article h2{
            font-size: 60px;
            margin-bottom: 10px;
        }

        .main article ul{
            font-size: 40px;
            margin-bottom: 20px;
        }

        .main p {
            font-size: 45px;
            padding: 0 100px;
        }

        .a_center{
            font-size: 40px;
        }

    /* asideのCSS */

        .aside{
            width: 90%;
            margin: 200px auto;
        }

        .aside h3{
            font-size: 50px;
            margin: 70px;
        }

        .author{
            margin-bottom: 150px;
        }

        .author img{
            width: 40%;
        }

        .author p{
            font-size: 40px;
        }

        .ranking h4{
            font-size: 45px;
        }

        .archive ul{
            padding-left: 0;
        }

        .archive ul li{
            font-size: 50px;
            padding: 45px 60px;
            width: 90%;
        }

    /* フッダーのCSS */
    }

